@font-face {
	font-family: shimesOne;
	src: url(../fonts/ShimesOne_PERSONAL.ttf);
}
body{
	background:rgba(167,214,247,1);
}
nav{
	position: absolute;
	top: 200px;
	left: 10px;

}
nav ul{
	list-style: none;
	/*border:solid 2px rgba(199,118,41,1);*/

}
nav ul li{
	border: solid 10px rgba(199,118,41,1);
	display: inline-block;
	text-align: center;
	padding-top: 55px;
	font-size: 30pt;
	width: 250px;
	height: 120px;
	margin: 5px;
	border-radius: 100px;


}
nav ul li:hover{
	cursor: pointer;
	background: rgba(199,118,41,1);
	color: white;
}
nav ul a{
	color: black;
}
#carDiv{
	position: relative;
	top: 25px;
}
#menuDiv{
	background: rgba(199,118,41,1);
	width: 250px;
	height: 120px;
	border-radius: 100px;
	padding-top: 55px;
	text-align: center;
	font-size: 15pt;
	color: white;
	position: absolute;
	top: 415px;
	left: 350px;
	z-index: 1;
	display: none;

}

#clickMenu{

}
div li{
	list-style: none;
}
div a{
	text-decoration: none;
	color: white;
	cursor: pointer;
}
#logo{
	font-family: shimesOne;
	letter-spacing: 15px;
	font-size: 50pt;
	position: absolute;
	bottom: 75px;
	right: 100px;
	color: rgba(199,118,41,1);

}

#aboutDiv{
	width: 600px;
	height: 200px;
	text-align: left;
	word-spacing: 3px;
	font-size: 30pt;
	font-family: shimesOne;
	color: rgba(199,118,41,1);
	position: absolute;
	top: 10px;
	left: 10px;
	display: none;
}
#wrap{
	width: 100%;
	height:1000px;
	border: solid 2px rgba(199,118,41,1)
}
#banner{
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 10px;
	width: 400px;
	height: 125px;
	border-radius: 200px;
	background:rgba(199,118,41,1);
	padding-top: 60px;
	font-size: 30pt;
	letter-spacing: 5px;
	color: white;
	text-align: center;
}#item1{
	/*border: solid 1px white;*/
	width: 300px;
	height: 300px;
	text-align: center;
	color: rgba(199,118,41,1);
	float: left;
	/*position: relative;
	top: 100px;
	left: 0px;*/
}
#item2{
	/*border: solid 1px white;*/
	width: 300px;
	height: 300px;
	text-align: center;
	color: rgba(199,118,41,1);
	float: left;
	/*position: relative;
	top: 100px;
	left: 300px;*/
}
#menuIntro{
	margin: 10px;
	margin-bottom: 40px;	
	width: 100%;
	height: 60px;
	word-spacing: 7px;
	font-size: 30pt;
	text-align: left;
	letter-spacing: 5px;
	font-family: shimesOne;
	color: rgba(199,118,41,1);
}
#item3{
	/*border: solid 1px white;*/
	width: 300px;
	height: 300px;
	text-align: center;
	color: rgba(199,118,41,1);
	float: left;
}
#item4{
	/*border: solid 1px white;*/
	width: 300px;
	height: 300px;
	text-align: center;
	color: rgba(199,118,41,1);
	float: left;
}